server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://ep-withered-breeze-aiomf2x0-pooler.c-4.us-east-1.aws.neon.tech:5432/productdb?sslmode=require
    username: neondb_owner
    password: npg_JnYOHd5frb2t
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true


jpa:
  database-platform: org.hibernate.dialect.MySQLDialect
  hibernate:
    ddl-auto: update
  show-sql: true